nav{
    background-color: darkblue;
}
img{
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
p{
    color: yellowgreen;
    display: inline-block;
}
.Nav{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
i{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.icon{
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
}
.icon1{
    width: 40px;
    height: 40px;
    display: inline-block;
}
.icon2{
    width: 40px;
    height: 40px;
    display: inline-block;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.about{
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
}
.Profile{
    display: inline-flex;
    align-items: center;
}